

:root {
    --GREEN: #19b352;
    --BUTTON: #0b973e;
    --BUTTON-HOVER: #075823;
    --LIGHTGREEN: #19b352c9;
    --NAVGREEN: #0b973e;

}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: sans-serif;
    font-size: 22px;
}

h1 {
    margin-top: 200px;
    font-size: 125px;
    color: black;
    text-align: center;
}

a {
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    color:black;
    font-size: 30px;
    background-color: var(--BUTTON);
    padding: 15px;
    border-radius: 20px;
    box-sizing: border-box;
    border: solid var(--BUTTON-HOVER);
}

a:hover {
    background-color: var(--BUTTON-HOVER);
    border: solid black;
    color: white;

}

h4 {
    font-size: 30px;
}

h3 {
    margin-top: 200px;
    font-size: 40px;
}

nav {
    text-align: left; 
    padding: 15px;
    background-color: var(--NAVGREEN);
    font-size: 40px;
}

main {
    padding: 20px;
}

#main-welcome {
    background-color:var(--GREEN);
}

.body {
    background-color: var(--GREEN);
}

ol {
    position: relative;
    left: 30px;
    text-align: left;
}

.container {
    display: flex;
    justify-content: space-around; /* or space-between */
    margin: 20px;
}

.table-container {
    width: 45%; /* Adjust the width as needed */
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}