{% extends "layout1.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<h2 id="welcome">
    Welcome {{ user_name }},
    <!-- img src="{{ user_profile_pic }}" alt="" -->
</h2>

<div class="container">
    <div class="table-container"> 
        <h4 class="heading">Top Tracks</h4> 
        <select id="tracks-time-period">
            <option value="monthly">Monthly</option>
            <option value="6-monthly">6-Monthly</option>
            <option value="yearly">Yearly</option>
        </select>        <ol>
            {% for track in tracks %}

                <li>{{ track }}
                    <img src="{{ covers[loop.index0] }}" alt="" class="home-images">
                </li>
                
            {% endfor %}
        </ol>   
    </div>
    <div class="table-container">
        <h4 class="heading">Top Artists</h4>
        <select id="artists-time-period">
            <option value="monthly">Monthly</option>
            <option value="6-monthly">6-Monthly</option>
            <option value="yearly">Yearly</option>
        </select>        <ol>
            {% for artist in artists %}
                <li>
                    {{ artist }}
                    <img src="{{ artists_profile_pics[loop.index0] }}" alt="" class="home-images">
                </li>
            {% endfor %}
        </ol>   
    </div>
</div>
    
{% endblock %}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var topTracksUrl = "{{ url_for('get_top_tracks') }}";
    var topArtistsUrl = "{{ url_for('get_top_artists') }}";
</script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>