{% extends "layout1.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<h2 id="welcome">
    Welcome {{ user_name }},
    <!-- img src="{{ user_profile_pic }}" alt="" -->
</h2>

<div class="container">
    <div class="table-container"> 
        <h4 class="heading">Top Tracks</h4> 
        <form action="/home" method="get">
            <select id="tracks-time-period" name="track-time">
                <option value="short_term">This Month</option>
                <option value="medium_term">6 Months</option>
                <option value="long_term">This Year</option>
            </select>   
        </form>     
        <ol>
            {% for track in tracks %}

                <li>{{ track }}
                    <img src="{{ covers[loop.index0] }}" alt="" class="home-images">
                </li>
                
            {% endfor %}
        </ol>   
    </div>
    <div class="table-container">
        <h4 class="heading">Top Artists</h4>
        <form action="/home" method="get">
            <select id="tracks-time-period" name="artist-time">
                <option value="short_term">This Month</option>
                <option value="medium_term">6 Months</option>
                <option value="long_term">This Year</option>
            </select>   
        </form>        
        <ol>
            {% for artist in artists %}
                <li>
                    {{ artist }}
                    <img src="{{ artists_profile_pics[loop.index0] }}" alt="" class="home-images">
                </li>
            {% endfor %}
        </ol>   
    </div>
</div>
    
{% endblock %}


<script>

</script>
