{% extends "layout1.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<div class="container">
    <div class="table-container"> 
        <h4>Top Tracks</h4> 

        <ol>
            {% for track in tracks %}
                <li>{{ track }}</li>
            {% endfor %}
        </ol>   
    </div>
    <div class="table-container">
        <h4>Top Artists</h4>

        <ol>
            {% for artist in artists %}
                <li>{{ artist }}</li>
            {% endfor %}
        </ol>   
    </div>
</div>
    
{% endblock %}s
