{% extends "layout1.html" %}

{% block title %}
    Song Stats
{% endblock %}

{% block main %}

        <div class="container">
            <div class="table-container"> 
                <h4 class="heading">Results for "{{ user_input }}"</h4>     
                <ol>
                    {% for track in song_search_data %}
        
                        <li>
                            {{ track["name"] }} - 
                            {% for artist in track["artists"] %}
                                {{ artist["name"] }}{% if loop.index0 + 1 != track["artists"] | length %},{% endif %}
                            {% endfor %}
                            
                            <img src="{{ track.image }}" alt="" class="home-images">
                        </li>
                        
                    {% endfor %}
                </ol>   
            </div>
{% endblock %}s