{% extends "layout1.html" %}

{% block title %}
    {{ track_details.name }}
{% endblock %}

{% block main %}

<div class="container">
    <div class="table-container">
        <h4 class="heading">
            {{ track_details.name }} -
            {% for artist in track_details.artists %}
                {{ artist["name"] }}{% if loop.index0 + 1 != track_details["artists"] | length %},{% endif %}
            {% endfor %}
        </h4>  

        <ul>
            <li>Key: {{ getkey(track_stats.key) }} {{ getmode(track_stats.mode)}}</li>
            <li>Tempo: {{ track_stats.tempo }} BPM</li>
            <li>Time Signature: {{ gettime_signature(track_stats.time_signature) }}</li>
        </ul>
    </div>
</div>

{% endblock %}s